<form method="post" action="{{ path('app_cart_delete', {'id': cart.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet article?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cart.id) }}">
    <button class="btn text-light" style="background-color: #2d6a4f"><i class="bi bi-trash3-fill"></i> Supprimer</button>
</form>
