{% extends 'base.html.twig' %}

{% block title %}
    À propos
{% endblock %}

{% block body %}
    <div class="container mt-5 mb-5">
        <h1>{{ titre }}</h1>

        <p>Book Haven est une librairie en ligne dédiée à la vente de livres de tous genres. Nous sommes passionnés par la lecture et nous nous efforçons de fournir une large sélection de livres pour satisfaire tous les goûts.</p>

        <h2>Notre mission</h2>
        <p>Notre mission est de promouvoir la lecture et de rendre les livres accessibles à tous. Nous croyons que chaque livre a le pouvoir de changer des vies et nous sommes ici pour aider à faire de cette croyance une réalité.</p>

        <h2>Contactez-nous</h2>
        <p>Si vous avez des questions ou des préoccupations, n'hésitez pas à nous contacter à laura.borni@etu.unistra.fr</p>

        <hr>
        <p class="small fst-italic">Réalisé dans le cadre d'un BUT MMI à <a href="https://iuthaguenau.unistra.fr" target="_blank">IUT d'Haguenau</a>.</p>
        <p class="small fst-italic">INFO4 - Spécialité DWeb.</p>
        <p class="small fst-italic">Laura Borni</p>
    </div>
{% endblock %}