{% extends 'base.html.twig' %}

{% block title %}
    Conditions Générales de Ventes
{% endblock %}

{% block body %}
    <div class="container mt-5 mb-5">
        <h1>{{ titre }}</h1>

        <h2>Article 1 : Objet</h2>
        <p>Les présentes conditions régissent les ventes par la librairie en ligne Book Haven.</p>

        <h2>Article 2 : Prix</h2>
        <p>Les prix de nos produits sont indiqués en euros toutes taxes comprises (TVA et autres taxes applicables au jour de la commande), sauf indication contraire et hors frais de traitement et d'expédition.</p>

        <h2>Article 3 : Commandes</h2>
        <p>Vous pouvez passer commande sur Internet via notre site Book Haven.</p>

        <h2>Article 4 : Validation de votre commande</h2>
        <p>Toute commande figurant sur le site Internet Book Haven suppose l'adhésion aux présentes Conditions Générales. Toute confirmation de commande entraîne votre adhésion pleine et entière aux présentes conditions générales de vente, sans exception ni réserve.</p>

        <h2>Article 5 : Paiement</h2>
        <p>Le règlement de vos achats s'effectue par carte bancaire grâce au système sécurisé...</p>

        <h2>Article 6 : Rétractation</h2>
        <p>Conformément aux dispositions de l'article L.121-21 du Code de la Consommation, vous disposez d'un délai de rétractation de 14 jours à compter de la réception de vos produits pour exercer votre droit de rétraction sans avoir à justifier de motifs ni à payer de pénalité.</p>

        <h2>Contactez-nous</h2>
        <p>Si vous avez des questions ou des préoccupations, n'hésitez pas à nous contacter à info@bookhaven.com</p>
    </div>
{% endblock %}